* {
  margin: 0px;
  padding: 3px;
}
.hr{
  padding:0;
}
body{
  background-color:rgb(14,159,149);
  }
#h1{
  text-align:center;
  background-color:rgb(14,231,216);
  border-radius:20px;
}
.one {
  display:inline-block;
}
.as{
  margin-left:-8px;
}
.summery{
  margin-left:15px;
  text-decoration:underline;
  display:list-item;
  list-style-type: disc;
  color:rgb(78,255,21);
}
.education{
  color:rgb(78,255,21);
  margin-left:15px;
  text-decoration: underline;
  display: list-item;
  list-style-type: disc;
}
.pre{
  margin-top:10px;
  display: inline-block;
  padding: 0px;
  font-family: Arial;
}
.exp{
  color:rgb(78,255,21);
  margin-left:15px;
  text-decoration: underline;
  display: list-item;
  list-style-type: disc;
}
.table{
 padding: 0px
 margin-bottom: 5px;
 width:100%;
 border-collapse: collapse;
 
}
.table td{
  border:1px solid black;
  padding:5px;
}
.skill{ 
  color:rgb(78,255,21);
  margin-left:15px;
  text-decoration: underline;
  display: list-item;
  list-style-type: disc;
}
.ps{
  margin-left:15px;
  display:list-item;
  list-style-type: disc;
}
.preference{
  color:rgb(78,255,21);
  margin-left:15px;
  text-decoration: underline;
  display: list-item;
  list-style-type: disc;
}